/* src/styles.css */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
    margin: 0;
    padding: 0;
    background-color: #eff3f8; /* Color de fondo suave */
    font-family: var(--font-family);
}